@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&display=swap');

body{
    font-family: 'Barlow', sans-serif !important;
    background-color: rgb(235, 235, 235) !important;
}

.navbg{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.nav_btn{
    background: #00d4ff;
}
.headline h1{
    background: #25CC0F;
    background: linear-gradient(to bottom right, #25CC0F 13%, #9E3212 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.header_section{
    max-height: 200px;
    font-family: 'Barlow', sans-serif;
}
.logo img{
    width: 80px;
    height: 80px;
}
/* .headline h1{
    color: green;
} */

.navbar {
    background-color: green;
    
}
.nav-link:hover{
    color: rgba(255,255,255,.55) !important;
}
.marque{
    border-bottom: 1px solid green;
}

.carousel-item img{
    height: 500px;
    filter: brightness(50%);
}

.notice_board{
    /* background-color: rgb(235, 235, 235); */
    background-color: white;
}

.about_institute{
    background-color: white;
}

.information_card .card{
    background: rgb(251, 251, 251);;
}


.teacher_card{
    min-height: 300px;
    padding-right: 4px;
}

.img_height{
    width: 200px;
    height: 200px;
}

#newsticker {
    min-height: 360px;
}
#newsticker li{
    overflow: hidden;
}

.list_notice{
    height: 120px;
}

.responsive-h5{
    font-size: 18px;
}



@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .responsive-h5{
        font-size: 16px;
    }


}
@media only screen and (max-width: 900px){
    .carousel-item img{
        height: 400px;
    }
    .img_height{
        width: 100px;
        height: 100px;
    }    

    #newsticker li{
        overflow: hidden;
        
    }
}

@media only screen and (max-width: 600px){
    .carousel-item img{
        height: 300px;
    }
    .responsive-h5{
        font-size: 14px;
    }
}
